.card-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.card-container > div {
  border-radius: 10px;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  border-radius: 10px;
}

.card-container .show {
  position: absolute;
  z-index: 2;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.416);
  color: #ffffff85;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  font-size: 50px;
  font-weight: 800;
}
